automan==0.6.dev0
compyle==0.9.dev0
cython==0.29.32
h5py==3.7.0
jupyterlab==3.5.0
matplotlib==3.6.2
matplotlib-inline==0.1.6
mayavi==4.8.2.dev0
numpy==1.23.4
PyQt5==5.15.7
pysph==1.0b2.dev0
pytest==7.2.0
vtk==9.2.2